.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--container-horizontal-padding);
  padding-right: var(--container-horizontal-padding);
}

.container > div {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: 'DOCK11';
  font-size: var(--web-title-size);
  font-weight: 900;
  color: var(--yellow);
  margin-bottom: 0;
}

.subtitle {
  font-family: 'DOCK11';
  font-size: var(--web-subtitle-size);
  font-weight: 900;
  color: var(--yellow);
  margin-top: 0;
}
