.container {
  min-height: 100vh;
  width: 100vw;
  padding-left: var(--container-horizontal-padding);
  padding-right: var(--container-horizontal-padding);
}

.title {
  padding: 10px 0px 10px 30px;
  font-family: 'DOCK11', sans-serif;
  font-size: calc(2vmin + 50px);
  color: #ffd824;
  margin: 0;
}

.rows {
  display: flex;
  flex-direction: row;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
