.container {
  min-height: 100vh;
  width: 100vw;
  padding-left: var(--container-horizontal-padding);
  padding-right: var(--container-horizontal-padding);
}

.title {
  text-align: left;
  font-family: 'DOCK11', sans-serif;
  font-size: var(--web-subtitle-size);
  color: var(--yellow);
  margin: 0;
}

.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
svg{
  color: black;
  text-decoration: none;

}