.container {
  min-height: 60vh;
  width: 60vw;
  margin: auto;
  margin-bottom: 100px;
  position: relative;
}

.minion {
  position: absolute;
  bottom: -50px;
  right: -60px;
}
@media only screen and (max-width: 768px) {
  .container {
    min-height: 80vh;
    width: 95vw;
  }
}

