.container{
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.avatars{
    border-radius: 7px;
    vertical-align: center;
    align-items: center;
    vertical-align: middle;
}
  
.name{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding-top: 16px;
    font-size: 21px;
}

.position{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding-top: 5px;
}

.bio{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding-top: 5px;
    font-size: 15px;
}

@media screen and (min-width: 321px) {
.card {
    width: 250px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 3px #dad4d4;
    padding: 20px;
    margin: 7px;
    box-sizing: border-box;
    }
}